<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="" alt="logo">
                <h1>Nombre de la marca</h1>
            </a>
            <ul>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./productos">Productos</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Preguntas frecuentes</h2>
            <article>
                <h3>Pregunta 1</h3>
                <p>Respuesta 1</p>
            </article>
            <article>
                <h3>Pregunta 2</h3>
                <p>Respuesta 2</p>
            </article>
            </article>
            <article>
                <h3>Pregunta 3</h3>
                <p>Respuesta 3</p>
            </article>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            
        </nav>
    </footer>
</body>
</html>