<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">
                <img src="" alt="logo">
                <h1>Nombre de la marca</h1>
            </a>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="./productos">Productos</a></li>
                <li><a href="./faq.html">Preguntas frecuentes</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Nosotros</h2>
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit necessitatibus unde, voluptatibus qui fugiat cum perspiciatis exercitationem, dolor doloremque beatae, molestiae sequi corporis adipisci sunt omnis excepturi tempore sint aperiam.</p>
        </section>
        <section>
            <h2>Valores</h2>
            <ul>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Lorem</li>
                <li>Item</li>
            </ul>
        </section>
    </main>
    <footer>
        <nav>
            
        </nav>
    </footer>
</body>
</html>